@model Team11_CA.Shop.Core.ViewModels.BasketSummaryViewModel

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Index", "Basket")">
                <label class="label label-success" style="font-size: 15px">
                    <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;

                    @Model.BasketCount items
                </label>
                
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Basket")">
                <label class="label label-primary" style="font-size: 15px;">@String.Format("{0:c}", Model.BasketTotal)</label> 
            </a>
        </li>
    </ul>
