@model IEnumerable<Team11_CA.Shop.Core.Models.Product>

<br />
<div class="form-inline md-form form-sm mt-0">
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
           name="searchStr" id="searchBox">
</div>
<br />

@foreach (var item in Model)
{
    <div class="col-md-3" style="height:450px;padding:10px;margin:25px;border: solid thin lightgray">
        <div class="col-md-12">
            <img class="img" style="height:200px;" src="~/Images/@item.Image" />
        </div>
        <div class="col-md-12">
            <h4><strong>@Html.ActionLink(item.Name, "ProductDetails", new { id = item.Id })</strong></h4>
        </div>
        <div class="col-md-12">
            <p>@item.Description</p>
        </div>
        <div class="col-md-12">
            <h4>$@item.Price</h4>
        </div>
        <div class="col-md-12">
            <a href="@Url.Action("AddToBasket", "Basket", new { id = item.Id})" class="btn btn-default">Add to Cart</a>
        </div>
    </div>
}
<div class="col-md-12 clearfix" />